.Content {
	p {
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

.backgroundheaderklein {
  background-color: white;
  height: 40px;
}

.thecontent {
	position: relative;
	z-index: 5;
	margin-left: 25px;
	margin-right: 25px;
	padding-top: 15px;
}
#post-4 {
	b {
		color: #bb0015;
		font-size: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.tylerthecreator {
	background-color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: -150px;
	height: 315px;
}

.telebutton {
	height: 50px;
	background-color: #ba0014;
	border-radius: 10px;
	border-style: outset;
	margin-bottom: 10px;
	margin-top: -130px;
	padding-top: 10px;
}
.mailbutton {
	height: 50px;
	background-color: #ba0014;
	border-radius: 10px;
	border-style: outset;
	margin-bottom: 10px;
	padding-top: 10px;
}

.textwhite {
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
}

.backgroundcontent {
	background-color: #e0ddd2;
	position: relative;
	width: 100%;
	height: 150px;
}

.backgroundfooter {
	background-color: #bdbab0;
	position: relative;
	width: 100%;
	height: 230px;
}

.homecontent {
	top: -10px;
}

.footerlogo {
	padding-top: 25px;
	span {
		color: #5f5c53;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
}

.slidermenu {
	background-color: #ffffff;
	width: 100%;
	height: 250px;
	 
}

// footer

.oranje {
	color: #f38023;
}
